@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --large-border-radius : 15px;
    --blue : rgb(49, 104, 223);
    --green : rgb(25, 178, 122);
    --grayish-black : rgb(23, 23, 25);
    --gray : rgb(35, 34, 40);
    --dark-purple : rgb(74, 2, 186);
    --purple : rgb(114, 77, 217);
    --white : rgba(247, 246, 246, 0.89);
    --dark-blue : #060425;
    --count-fonts : rgba(245, 244, 244, 0.541);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* outline: 2px solid red; */
}

body {
    width: 100%;
    height: 100vh;
    background: 
      radial-gradient(circle closest-side, rgba(25, 178, 122, 0.295) 50%, transparent),
      linear-gradient(45deg, var(--dark-purple), var(--grayish-black) 50%),
    linear-gradient(-45deg, var(--dark-purple), var(--grayish-black) 50%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    place-items: center;
  }

  /*====================== Styling Scrollbar for the whole page ======================*/
::-webkit-scrollbar {
    width: 8px;
    height: 10%; 
}

::-webkit-scrollbar-track {
    background: var(--gray); 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: var(--blue); 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(78, 131, 245, 0.918); 
}

::-webkit-scrollbar-button {
    display: none;
}

  .main-container{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0 5px rgba(219, 219, 219, 0.096);
    border-radius: var(--large-border-radius);
    background-color: var(--grayish-black);
    color: --white;
    position: relative;
}

.sidebar{
    flex-basis: 25%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background-color: var(--gray);
    border-right: 0.2px solid rgba(190, 190, 190, 0.199);
}

.sidebar .sidebar-upper-interface{
    margin-top: 60px;
    padding-left: 10px;
}

.sidebar .sidebar-upper-interface button{
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    padding: 10px 25px;
    background-color: transparent;
    color:var(--white);
    font-size: 0.95rem;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;
    position: relative;
    /* outline: 2px solid red; */
}

.sidebar .sidebar-upper-interface button .fa-solid,
.sidebar .sidebar-upper-interface button .fa-regular {
    font-size: 1.2rem;
    padding-right: 20px;
}

.sidebar .sidebar-upper-interface button .tasks-count {
    color:var(--count-fonts) ;
}

.sidebar-upper-interface .all-tasks-btn:focus,
.sidebar-upper-interface .all-tasks-btn:hover{
    background-color: var(--blue);
}


.sidebar-upper-interface .completed-tasks-btn:focus,
.sidebar-upper-interface .completed-tasks-btn:hover{
    background-color: var(--green);
}

.sidebar-upper-interface .pending-tasks-btn:focus,
.sidebar-upper-interface .pending-tasks-btn:hover{
    background-color: var(--purple);
}

.sidebar .sidebar-upper-interface .important-tasks-btn:hover,
.sidebar .sidebar-upper-interface .important-tasks-btn:focus,
.sidebar .sidebar-upper-interface .home-btn:hover,
.sidebar .sidebar-upper-interface .home-btn:focus{
    background-color: rgba(219, 219, 219, 0.096);
}


.sidebar .sidebar-lower-interface{
    margin: 30px 20px;
}

.sidebar .sidebar-lower-interface button{
    display: block;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    cursor: pointer;
}

.sidebar .sidebar-lower-interface .add-new-tasks{   
    margin: 30px auto;
    padding: 10px 15px;
    border-radius: 10px;
}

.sidebar-lower-interface .minimize-sidebar{
    margin-left: 20px;
    margin-top: 80px;
    margin-bottom: 30px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    float: right;
}

.sidebar .sidebar-lower-interface .add-new-tasks .fa-solid{
    padding-left: 20px;
}

.main-interface {
    flex-basis: 75%;
    padding: 0px 30px;
    overflow-y: scroll;
    max-height: 70vh;
    position: relative;
}

 /*====================== Styling Scrollbar for the "main-interface" ======================*/
 .main-interface::-webkit-scrollbar {
    width: 5px; 
}

.main-interface::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px; 
}

.main-interface::-webkit-scrollbar-thumb {
    background: var(--purple); 
    border-radius: 10px;
}

.main-interface::-webkit-scrollbar-thumb:hover {
    background: rgba(153, 122, 238, 0.822); 
}

.main-interface header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    color: var(--purple);
}

.main-interface header img{
    width: 30px;
    cursor: pointer;
}

main {
    width: 100%;
}

main .home-message{
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
}

main .complete-pending-container{
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    text-align: center;
}

main .complete-pending-container p {
    color: var(--white);
}

main .complete-pending-container .completed-home-container{
    background-color: var(--green);
    border-radius: 10px;
    padding: 20px;
    flex-basis: 50%;
}

.completed-home-container .completed-home-count,
.pending-home-container .pending-home-count{
    font-weight: 500;
    font-size: 1.5rem;
}

main .complete-pending-container .pending-home-container{
    flex-basis: 50%;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--purple);
}

/* =========== Animating pending and complete containers ================== */

.animate-pending-complete{
    animation-name:animate-pending-complete ;
    animation-duration: 0.9s;
}

@keyframes animate-pending-complete{
    0%{transform: translateY(-25px);}
}

.animate-home-count{
    animation-name:animate-home-count ;
    animation-duration: 0.9s;
}

@keyframes animate-home-count{
    0%{transform: translateY(25px);}
}

/* ========================================================================= */

main .tasks-progress{
    width: 100%;
    background-color: var(--gray);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .tasks-progress .tasks-progress-details{
    color: var(--white);
    font-size: 1.1rem;
    animation-name: animate-task-progress;
    animation-duration: 0.9s;
}

@keyframes animate-task-progress{
    0%{transform: translateX(-20px);}
}

.tasks-progress-details .completed-over-all{
    color: var(--count-fonts) ;
    font-size: 0.85rem;
    padding-top: 15px;
}

main .added-tasks-grid{
    margin: 20px 0px;
}

main .added-tasks-grid-header{
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 8px;
}

.added-tasks-more-details-container{
    background-color: var(--gray);
    border-radius: 10px;
}

.added-tasks-more-details-container .tasks-details-section{
    width: 80%;
    margin: 0px auto;
}

.added-tasks-more-details-container .tasks-details-section p {
    padding-bottom: 20px;
    color: var(--count-fonts);
    font-size: 0.85rem;
    line-height: 1.7;
}

.added-tasks-container{
    margin: 30px 0px;
}

.added-tasks-container .added-task{
    height: auto;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;   
    padding: 20px;
    color: var(--white);
}

.added-task .fa-grip-vertical{
    flex-basis: 10%;
    color: var(--count-fonts);
    cursor: grab;
}

.added-task .added-task-details-container{
    flex-basis: 88%;
    display: flex;
    justify-content: space-between;
    
}

.added-task-details-container .task-and-details-container{
    flex-basis: 25%;  
}

.task-details .task-details-btn{
    color: var(--blue);
    font-size: 0.75rem;
    background-color: transparent;
    border: none;
}

.added-task .task-container-status{
    flex-basis: 2%;
}

.added-task .crud-task{
    flex-basis: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.added-task .crud-task button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 1rem;
}

.added-task .crud-task .fa-regular{
    padding-left: 12px;
}

.crud-task .tasks-count-down{
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--count-fonts);
}

/* 
** ========================= Animating the added tasks items ======================
*/

/* 
    1.
*/

.dragging-container-icon{
    animation-name: animating-dragging-icon;
    animation-duration: 0.2s;
}

@keyframes animating-dragging-icon{
    0%{transform: translateY(15px);}
}

/* 
    2.
*/

.task-and-details-container{
    animation-name: animating-task-and-details;
    animation-duration: 0.4s;
}

@keyframes animating-task-and-details{
    0%{transform: translateY(20px);}
}

/* 
    3.
*/

.due-date{
    animation-name: animating-due-date;
    animation-duration: 0.6s;
}

@keyframes animating-due-date{
    0%{transform: translateY(25px);}
}

/* 
    4.
*/

.edit-tasks{
    animation-name: animating-edit-tasks;
    animation-duration: 0.8s;
}

@keyframes animating-edit-tasks{
    0%{transform: translateY(30px);}
}

/* 
    5.
*/

.delete-task{
    animation-name: animating-delete-task;
    animation-duration: 1s;
}

@keyframes animating-delete-task{
    0%{transform: translateY(35px);}
}

/* 
    6.
*/

.tasks-count-down{
    animation-name: animating-tasks-count-down;
    animation-duration: 1.2s;
}

@keyframes animating-tasks-count-down{
    0%{transform: translateY(40px);}
}

/* 
    7.
*/

.task-container-status{
    animation-name: animating-task-container-status;
    animation-duration: 1.4s;
}

@keyframes animating-task-container-status{
    0%{transform: translateY(45px);}
}


.popup-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.popup-container .popup-form-container{
    width: 35%;
    height: auto;
    margin: 0px auto;
    background-color: rgb(67, 43, 133);
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-container .popup-form-container form{
    width: 100%;
    padding: 20px;
}

.popup-form-container .fa-xmark{
    position: relative;
    left: 95%;
    margin: 20px 0px;
    font-size: 1.6rem;
    color: var(--white);
    cursor: pointer;
    transition: 0.6s;
}

.popup-form-container .fa-xmark:hover{
    transform: rotate(90deg);
}

.popup-container .popup-form-container form label {
    display: block;
    color: var(--white);
}

.popup-container .popup-form-container input{
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 15px 10px;
    border: none;
    outline: none;
    margin: 10px 0px;
    font-size: 1rem;
    background-color: rgba(212, 212, 212, 0.89);
}

.popup-container .popup-form-container input[type = "date"]{
    width: 60%;
}

.popup-container .popup-form-container textarea{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
    border: none;
    outline: none;
    resize: none;
    min-height: 100px;
    font-size: 1rem;
    background-color: rgba(212, 212, 212, 0.89);
}

.popup-form-container .add-task-btn{
    float: right;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.prioritize-tasks{
    margin: 40px 0px;
}

.prioritize-tasks p{
    color: var(--white);
    padding: 10px 0px;
}

.prioritize-tasks .priority-buttons{
    display: flex;
    align-items: center;
    column-gap: 2rem;

}

.prioritize-tasks .priority-buttons button{
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/*
 ** ================== All Tasks Section ============================ 
 */

 .js-manipulated-container header {
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 20px ;
 }

 /* 
 ** ================ Animating JS-Manipulated Header =================
 */

 .js-manipulated-container header h1{
    animation-name: animate-h1;
    animation-duration: 1s;
 }

 @keyframes animate-h1{
    0%{transform: translateX(30px);}
 }